
.loopSlide {
    display: flex;
    width: 100vw;
    height: 200px;
    overflow: hidden;

    img {
        width: auto;
        height: 100%;

        &:first-child {
            animation: slide1 60s -30s linear infinite;
        }
        &:last-child {
            animation: slide2 60s linear infinite;
        }
    }
}




@keyframes slide1 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

img {
  z-index: 10;
}

.flame01 {
  margin: 2em auto;
  padding: 1em;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 5px 1.5px #a9a9a9;
}



h3 {
  padding: 0.5em 0.35em;
  border-left: solid 5px #f4d01c;
}

h4 {
  padding: 0.1em 0.35em;
  line-height:0.25;
}

p.infobox {
  height: 25em;
  width: 35em;
  overflow: scroll;
  border: black 3px; 
}