

.loopSlide {
    display: flex;
    width: 100vw;
    height: 200px;
    overflow: hidden;

    img {
        width: auto;
        height: 100%;

        &:first-child {
            animation: slide1 60s -30s linear infinite;
        }
        &:last-child {
            animation: slide2 60s linear infinite;
        }
    }
}

@keyframes slide1 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}


header {
  text-align:center;
  font-size: 50px;
  color: #1d171a;
  background-color: rgb(203, 205, 207);

}



/* Global Menu */
 
nav{

  margin-bottom: 13em;
  position: relative;
  width: 100%;
  background-color: #444;
}
ul > li{
  display: inline-block;


}
ul > li > a{
  padding: 15px 30px;
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: .2em;

  
}
ul > li > span{
  margin-left: 1.2em;
}
ul > li:hover > a{
  background-color: #efefef;
  color: #444;
}

/* Submenu */

ul li ul{
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 20;
}
ul li ul li{
  display: block;
}
ul li ul li a{
  background-color: #efefef;
  color: #444;
}
ul li ul li a:hover{
  background-color: #ddd;
}

.sample01 ul li ul{
  display: none;
}
.sample01 ul li:hover ul{
  display: inline-block;
}

img {
  z-index: 10;
}

