.timeline {
    list-style: none;
  }
  .timeline > li {
    margin-bottom: 60px;
  }
  
  /* for Desktop */
  @media ( min-width : 640px ){
    .timeline > li {
      overflow: hidden;
      margin: 0;
      position: relative;
    }
    .timeline-date {
      width: 50px;
      float: left;
      margin-top: 20px;
    }
    .timeline-content {
      width: 75%;
      float: left;
      border-left: 3px #d2d2d2 solid;
      padding-left: 30px;
    }
    .timeline-content:before {
      content: '';
      width: 12px;
      height: 12px;
      background: #ffd117;
      position: absolute;
      left: 45.5px;
      top: 24px;
      border-radius: 100%;
    }
  }

  .leaf {
    width: 6px;
    height: 6px;
    border-radius: 0 6px;
    background-color: #9ce081;
    transform: rotate(0deg);
    position: absolute;
    top: 1.1em;
  }

  .circle{
    width: 12px;
    height: 12px;
    background: #ffd117;
    border-radius: 100%;
    position: relative; /* 今の位置を基準 */
    top: 1.5em;
    margin-right: 1.7em;
  }
  .field {
    display: flex;
    justify-content: start;
    position: relative; /* 今の位置を基準 */
    right: 2.35em;
    }