table {
    border: solid 1px #000000;
    background-color: #b9b9b9;
  }
  td {
    font-size: 12px;
    padding: .2em .5em;
  }

.box1 {
  padding: 0.25em 1em;
  margin: 0.5em 0; 
  font-weight: bold;
  background-color: #ededed;
  border-radius: 5px;
}
.box1 p {
    margin: 0; 
    padding: 0;
}