table {
    border: solid 1px #000000;
    background-color: #b9b9b9;
  }
  td {
    font-size: 12px;
    padding: .2em .5em;
  }

.box1 {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}